@import '@fontsource/tektur/index.css';

.ant-picker {
  height: fit-content;
}

.ant-input {
  height: fit-content;
}

.total-time {
  height: fit-content;
}

.entry {
  border: 1px solid black;
  border-radius: 15px;
}

body {
  font-family: "Tektur", sans-serif;
  width: 100vw;
}

#root {
  width: 100vw;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  padding: 0 2rem; /* Abstand links & rechts */
}